* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(90deg, violet, #333333);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff0e0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 0 black;
}

body {
  margin: 0;
  padding: 0;
}

body > div {
  padding: 5px;
}

:lang(zh) {
  font-family: Microsoft JhengHei;
}

.hidden {
  display: none;
}

h1, h2, h3, h4 {
  text-shadow: 1px 1px 2px black;
}

form {
  display: contents;
}

a {
  color: inherit;
  text-decoration: none;
}

a[id]:target {
  text-decoration: underline;
}

a[href]:hover {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  color: #b3b3b3;
}

.container {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.section {
  margin: 5px;
  padding: 15px;
  background-color: rgb(112,15,112);
  background-color: rgba(112,15,112,0.6);
  box-shadow:
    2px 2px 10px 2px rgba(0,0,0,0.8);
}

.section:hover {
  box-shadow:
    2px 2px 10px 4px rgba(0,0,0,0.8);
}

.input-btn {
  display: contents;
}

.input-btn input {
  display: none;
}

.menu {
  background-color: rgba(0,0,0,0.2);
}

.menu .section {
  display: inline-block;
  text-transform: uppercase;
}

.menu a:hover {
  text-decoration: none;
}

.menu .section:hover {
  text-decoration: underline;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover {
  text-decoration: underline; 
}

.dropdown input[type=checkbox]:checked + .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(112,15,112);
  box-shadow:
    2px 2px 10px 2px rgba(0,0,0,0.8);
  z-index: 1;
}

.dropdown-content a {
  text-transform: none;
  white-space: nowrap;
  padding: 10px;
  display: block;
}

.sticky {
  position: fixed;
  background-color: rgba(112,15,112,0.9);
  z-index: 2;
}

details input[type=checkbox]:checked + * {
  display: block;
}

th, td {
  padding: 3px;
}

th {
  white-space: nowrap;
  text-align: left;
}

td {
  border-top: 1px solid #b3b3b3;
  vertical-align: text-top;
}

.hr {
  border-top: 1px solid #b3b3b3;
}

.inline-list {
  display: inline;
}

.inline-list dt,
.inline-list dd,
.inline-list li {
  display: inline;
}

.inline-list dd {
  margin-left: 0;
}

.inline-list dt::after {
  content: ": ";
}

.inline-list dd::after,
.inline-list li::after {
  content: ", ";
}

.inline-list dd:last-child::after,
.inline-list li:last-child::after {
  content: "";
}

.attr-list {
  display: grid;
  grid-template-columns: max-content auto;
}

.attr-list dt {
  text-align: right;
}

.attr-list dt,
.attr-list dd {
  display: inline-block;
}

.attr-list dt::after {
  content: ": ";
}

.details-tag input[type=checkbox] + * {
  display: none;
}

.details-tag input[type=checkbox]:checked + * {
  display: block;
}

.undertest::after {
  content: "experimental";
  font-size: 50%;
  font-style: italic;
  color: #b3b3b3;
  margin: 0 0 0 50px;
}
