.star-group {
  display: inline-grid;
  grid-auto-columns: max-content;
}

.star-group input[type=radio] {
  display: none;
}

.star-group input[type=radio] + label {
  grid-column: var(--star-lvl);
  grid-row: 1;
  margin: 0 4px;
}

.star-group input[type=radio] + label {
  color: #808000;
  text-shadow: 0 0 2px yellow;
}

.star-group input[type=radio]:checked ~ label {
  color: yellow;
}

.star-group input[type=radio]:hover ~ label {
  text-shadow: 0 0 10px yellow;
}
