.unit-brief-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: max-content;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.unit-brief-list .section {
  position: relative;
  display: grid;
  grid-template-row: auto max-content;
  align-content: space-between;
}

.unit-brief-list .unit-avatar {
  width: 50%;
}

.unit-detail-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unit-detail-list .section {
  position: relative;
  width: 600px;
  overflow-x: auto;
}

.unit-detail-list .unit-avatar {
  width: 200px;
}

.unit-avatar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: -1;
}

.unit-pair-list {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 12px;
  grid-row-gap: 8px;
  white-space: nowrap;
}

.unit-pair-line {
  grid-column: 1 / span 2;
}

.unit-pair-name {
  grid-column: 1;
  text-align: right;
  white-space: nowrap;
}

.unit-pair-name::after {
  content: ":";
}

.unit-pair-val {
  grid-column: 2;
}

.unit-expr-level,
.unit-expr-v,
.unit-expr-g,
.unit-expr-k {
  color: #e5fe00;
}

.unit-expr-bd {
  color: #fd872a;
}

.unit-expr-sp {
  color: #28b6ff;
}

.unit-expr-s {
  color: #54fe86;
}

.unit-expr-misc {
  color: white;
}

.rarity-white {
  color: white;
}

.rarity-green {
  color: #9ee05a;
}

.rarity-blue {
  color: #00b2e4;
}

.rarity-purple {
  color: #b965f7;
}

.rarity-orange {
  color: #ffa132;
}

.rarity-red {
  color: #ff4d4d;
}

.unit-note {
  font-style: italic;
  color: #d0d0d0;
}

/*
#unit-stat output[data-val]::after {
  content: attr(data-val);
}
*/

#unit-stat fieldset {
  display: contents;
}

#unit-stat fieldset:disabled {
  display: none;
}
